<div>
  <h1>
    <%=@game.player_defend.name%> has attacked <%=@game.player_attack.name%>!
  </h1>
</div>
<div>
 <h2><%=@game.damage_did%> HP deducted!</h2>
</div>
<div>
  <% if @game.player_defend.poisoned? %>
    <h2>
      <%=@game.player_defend.name %> took <%= @game.poison_damage_did %> HP poison damage
    </h2>
    <%end%>
</div>
<div>
  <form action = '/play' method='get'>
    <input id = 'ok' type = 'submit' value = 'Okay!'/>
  </form>
</div>
