<h1> <%=@game.player1.name %> vs <%=@game.player2.name%>! </h1>

<h2> <%=@game.player1.name%>: <%= @game.player1.health%>HP</h2>
<h2> <%=@game.player2.name%>: <%= @game.player2.health%>HP</h2>

<h3> <%= @game.player_attack.name%>'s turn!</h3>
<form action="/attack">
  <input type="submit" value="Attack">
</form>
<form action='/poison' method='get'>
  <input id='poison' type='submit' value='Poison'/>
</form>
