<!-- <h1> <%= @player_1_name %> VS <%= @player_2_name %> successfully created </h1> -->
<h1> <%= @player_1_name %> VS <%= @player_2_name %> successfully created </h1>
<h2> <%= @player_2_name %>: <%= @player_2_points %>/60 HP</h2>
<form action="/attack">
  <button type="submit">Attack</button>
</form>
